<!--designed to work with css input popup technique - no js -->
<div class="popup-dialog">
   <div class="rounded py-4 px-4">
      <div class="text pb-4"><b>Reply to this Message</b></div>
      <form action="/messages/<%=CONVERSATION_ID%>?action=reply&msgIndex=<%=MESSAGE_POSITION%>" method="POST">
      
      <p class="fs-sm m-0">You are replying to this message:</p>
      <p class="fs-sm opacity-90 m-0">
         ““
         <% if (MESSAGE.content.length > 75) { %>
            <%=MESSAGE.content.slice(0, 75)%>...
         <% } else { %> 
            <%=MESSAGE.content%>
         <% } %>
         ””
      </p>

      <hr class="my-2 opacity-70">

      <textarea rows="2" name="content" placeholder="Write your Reply" class="form-control form-control-lg mb-4" minlength="2" maxlength="1000" required></textarea>
      <div class="d-flex">
        <button type="submit" class="confirm-button btn btn-primary">Reply</button>
      </form>
         <label for="reply-message-input-<%=MESSAGE_POSITION%>" class="btn btn-danger cancel-button ms-auto">Cancel</label>
      </div>
   </div>
   <label for="reply-message-input-<%=MESSAGE_POSITION%>" class="popup-close"></label>
</div>
