<!--designed to work with css input popup technique - no js -->
<div class="popup-dialog resolve-report-popup" style="max-width:none;">
  <div class="rounded px-4 py-4 my-4" style="min-width: 40rem">
    <form class="row justify-content-center py-lg-3 py-xl-4" action="<%=action%>" method="<%=method%>">
      <div class="col-12">
        <h2 class="h1 pb-lg-1 mb-4">Resolve Report</h2>
        <div class="row">
          <div class="col-12 mb-4">
            <label for="message" class="form-label fs-base">Describe to the vendor what he did wrong:</label>
            <textarea id="message" name="message" class="form-control form-control-lg" rows="4" minlength="10"
              maxlength="3000" required placeholder="Because...."></textarea>
          </div>
          <div class="col-12 mb-2 d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="confirm-<%=checkboxInputId%>" style="min-width: 1rem;" required>
            <label class="form-check-label ms-2" for="confirm-<%=checkboxInputId%>">I confirm that I am sure of my decision</label>
          </div>
        </div>
        <input type="checkbox" id="more-<%=checkboxInputId%>" hidden />
        <label class="dropdown-symbol d-flex align-items-center justify-content-between my-2" for="more-<%=checkboxInputId%>">
          <p class="fs-lg mb-0 fw-bold" style="cursor: pointer;">Request to ban to user</p>
          <%- include("../../../public/assets/img/icons/caret-down.svg") %>
        </label>
        <div class="row dropdown-content">
          <div class="col-12 mb-4">

            <label for="ban-reason-<%=checkboxInputId%>" class="form-label fs-sm">Why is he desrving a ban</label>
            <textarea id="ban-reason-<%=checkboxInputId%>" name="banReason" class="form-control form-control-lg"
              rows="4" minlength="10" maxlength="3000" placeholder="I want to ban him because...."></textarea>

          </div>
        </div>

        <div class="d-flex justify-content-end button-group">
          <button type="submit" class="btn btn-primary btn-lg shadow-primary me-2">Apply Action</button>
          <label for="<%=checkboxInputId%>" class="btn btn-danger btn-lg shadow-danger">Cancel</label>
        </div>
      </div>
    </form>
  </div>
  <label for="<%=checkboxInputId%>" class="popup-close"></label>
</div>