<div class="popup-dialog" style="max-width:none;">
   <div class="rounded px-4 py-4 my-4">
      <form action="/create-conversation/<%=Reciever%>" method="POST">
         <h5 class="mb-4">Contact <%=vendor.username%></h5>

         <% if (authuser?.settings.messageSettings.displayUsername === 'customUsername') { %>
            <label class="form-check-label" for="customUsername">Choose your Custom Username</label>
            <input class="form-control mt-1" name="displayUsername" id="customUsername" placeholder="Enter Custom Username" value="<%=authuser.settings.messageSettings.customUsername%>" required>   
         <% } %>

         <% if (authuser?.settings.messageSettings.displayUsername === 'customUsername' && authuser?.settings.messageSettings.conversationPgp === 'customPgp') { %>
            <hr class="my-3" />
         <% } %>

         <% if (authuser?.settings.messageSettings.conversationPgp === 'customPgp') { %>
            <label class="form-check-label" for="customPgp">Choose your Custom Pgp key</label>
            <textarea class="form-control mt-1" name="customPgp" id="customPgp" placeholder="Enter Custom Pgp" minlength="2" maxlength="1000" required><%-authuser.settings.messageSettings.customPgp%></textarea>
         <% } %>

         <% if (authuser?.settings.messageSettings.displayUsername === 'customUsername' || authuser?.settings.messageSettings.conversationPgp === 'customPgp') { %>
            <hr class="my-3" />
         <% } %>

         <div class="edit-content">
            <label class="form-check-label fw-bold" for="content">Type your Message</label>
            <textarea class="form-control mt-1" name="content" id="content" placeholder="Message..." minlength="2"
               maxlength="1000" required></textarea>
         </div>


         <div class="d-flex align-items-center">
            <a href="/user/create-hidden-conversation?id=<%=vendor.id%>" class="fs-sm mt-2">I want to make a Hidden Conversation</a>
         </div>

         <div class="d-flex justify-content-end button-group mt-3">
            <button type="submit" class="btn btn-primary btn-lg shadow-primary me-2">Send</button>
            <label for="<%=checkboxInputId%>" class="btn btn-danger btn-lg shadow-danger">Cancel</label>
         </div>


      </form>
   </div>
   <label for="<%=checkboxInputId%>" class="popup-close"></label>
</div>