<div class="card card-body d-flex flex-row align-items-center card-hover mt-4 px-3 px-md-4">
   <div class="py-0 w-100">
      <div class="d-flex align-items-center">
         <img src="<%=vendor.img_path%>" class="d-block rounded-circle me-3" width="80" style="min-width: 60px"
            alt="<%=vendor.username%>" />
         <div>
            <div class="fs-xl opacity-50 mb-2">Vendor:</div>
            <h2 class="h2 mb-0">
               <a href="/user/profile/<%=vendor.username%>?productPage=1&reviewPage=1"> <%=vendor.username%> </a>
            </h2>
         </div>
      </div>
      <p class="opacity-70 py-4 mb-0" style="max-height: 10rem; overflow: hidden">
         <% if (vendor.description) { %>
         <%=vendor.description.slice(0, 75)%>
         <% if (vendor.description.length > 50) { %>
         ...
         <% } %>
         <% } else { %>
         This Vendor doesnt have a description...
         <% } %>
      </p>
      <div class="d-flex flex-column flex-sm-row justify-content-end">
         <a href="/user/profile/<%=vendor.username%>?productPage=1&reviewPage=1"
            class="btn btn-primary mb-0"> See Profile </a>
      </div>
   </div>
</div>