<!-- Not Respnsive -->
<section class="mt-3 pb-0">
   <% for(let i = REVIEWS.length - 1; i >= 0; i--) { %>

   <% const REVIEW = REVIEWS[i] %>

   <div class="card card-hover px-<%=PADDING || 4%> py-4 mb-2 border-0 card-deep-shadow">
      <div class="d-flex align-items-center">
         <div class="mb-2">
            <h6 class="fw-semibold text-primary mb-0"><%= REVIEW.sender %></h6>
         </div>
         <div class="ms-auto me-5"><%- include('../components/rating', { rating: REVIEW.note }) %></div>
      </div>

      <p class="my-0"><%= REVIEW.content %></p>
   </div>
   <hr class="my-3 opacity-70" />
   <% } %>

   <div class="mt-5"><%- include('../components/pagination', {nextPage: NEXTPAGE, currentPage: parseInt(query.reviewPage), queryName: 'reviewPage'}) %></div>
</section>
